body {
    text-align: center;
    box-sizing: border-box;
}

button{
    display: inline-block;
    margin: 100px 20px;
    font-size: 35px;
    padding: 10px;
    padding: 10px 30px;
    background-color: white;
    border: 3px solid black;
    text-transform: uppercase;
    
}

:root{
    --textSize: 100px;
}

h1{
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    font-size: var(--textSize);
    border: 0 solid black;
}

/* button.larger:hover ~ h1{
    font-size: calc(var(--textSize)*2);
} */

.big{
    font-size: calc(var(--textSize)*2);
}

/* button.smaller:hover ~ h1{
    font-size: calc(var(--textSize)/2);
} */

.small{
    font-size: calc(var(--textSize)/2);
}

.borderNew{
    display: inline;
    border: 5px solid black;
}

/* button.border:hover ~ h1{
    display: inline;
    border: 5px solid black;
} */